<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor = "let item of satellites" >
        <td>{{item.name}}</td>
        <td [class.warning]="item.changeColor">{{item.type}}</td>
        <td>{{item.operational}}</td>
        <td>{{item.orbitType}}</td>
        <td>{{item.launchDate}}</td>
    </tr>
</table>

<ng-template #createWarning>
    
</ng-template>
<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

        <!--<td>GPS 938</td>
        <td>Positioning</td>
        <td>true</td>
        <td>HIGH</td>
        <td>2001-11-01</td>-->